<div class="block block-bordered-lg">
	<div class="container">
		<div class="row">
		<div class="col-sm-6 text-left m-b-lg">
			<h2 class="statcard-number block-title">FAQ</h2>
		</div>
	</div>
	<div class="row">

		<div class="panel-group faq" id="accordion" role="tablist" aria-multiselectable="true">
			<% for(var i in public.faq._data){ %>
				<div class="panel panel-default"role="tab">
					<div class="panel-heading"  id="h<%= i %>" role="button" data-toggle="collapse" data-parent="#accordion" href="#c<%= i %>" aria-expanded="false" aria-controls="c<%= i %>">
						<div class="panel-title">
							<div class="collapsed">
								<h3><%- public.faq._data[i].question %></h3>
							</div>
						</div>
					</div>
					<div id="c<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h<%= i %>" aria-expanded="false">
						<div class="panel-body">
							<%- public.faq._data[i].answer %>
						</div>
					</div>
				</div>
			<% }; %>
		</div>
			
		

	</div>
</div>